/*ticket*/
.well {
    margin-bottom: 0;
    background-color: #f1f5f8;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 15px;
}
.ticket-inner {
    float:left;
    width:100%;
    border: 1px solid #e3e3e3;
    height: auto;
    padding: 10px;
}

.seat {
    margin: 5px 0;
    color:#fff;
}
.seat_female{
  background:red;
}
.seat-body {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #344753;
    display: inline-block;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
    line-height: 35px;
    text-align: center;
}
.seat-handle-left {
    width: 5px;
    height: 20px;
    right: -4px;
    bottom: -1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: none !important;
    position: absolute;
    border: 1px solid #344753;
}
.seat-handle-right {
    width: 5px;
    bottom: -1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: none !important;
    height: 20px;
    left: -4px;
    position: absolute;
    border: 1px solid #344753;
}
.seat-bottom {
    width: 35px;
    right: 0px;
    bottom: -4px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top: none !important;
    position: absolute;
    border: 1px solid #344753;
    height: 3px;
}


.seat-visibility{
    visibility: hidden;
}

.seat.occupied .seat-body{
    background-color: #fff;
    border-color:  #344753;
    color:  #344753;
}
/*selected*/
.seat.selected .seat-body{
    background-color: #bb5f33;
    border-color:  #bb5f33;
    color:#fff;
}
.seat.selected .seat-body span{
    border-color:  we#bb5f33;
}
/*ladies*/
.seat.ladies .seat-body {
    background-color: #98c157;
    border-color: #31672b;
}
.seat.female .seat-body {
    background-color: #ff69b4;
    border-color: black;

}
.seat.ladies .seat-body span{
    border-color:  #31672b;
}


.seat:not(.ladies) .seat-body:hover{
    /*background-color: #5F69bc;*/
    border-color:  #5b69bc;
}
.seat .seat-body:hover span{
    border-color:  #5b69bc;
}



/*seat details*/
.seat-details{
}
.seat-details-content{
    margin: 20px 0;
}




/*Price details*/
.price-details-headding{
    text-align: left;
}
.price-details-headding h4{
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: 600;

}

.price-details {
    padding: 15px;
    border: 1px solid #e3e3e3;
    margin-top: 20px;
    text-align: left;
    font-size: 13px;
}
.price-details th {
    text-align: right;
    color: #000;
}
.price-details tr:last-child th:first-child{
    text-align: left;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
}
.table-striped > tbody > tr:nth-of-type(2n+2) {
    background-color: #f9f9f9;
}
.price-details p {
    margin: 0 0 15px;
    font-size: 14px;
}

.price-details .btn {
    color: #fff;
    background-color: #5b69bc;
    border-color: #5b69bc;
    padding: 8px 12px;
}

.alert-info {
    margin: 20px 0 0;
}
.all-seats {
    position: relative;
}

div.last-seat-32:last-of-type {
    position: absolute;
    left: 250px;
    bottom: 1px;
}

div.last-seat-21:last-of-type {
    position: absolute;
    left: 175px;
    bottom: 1px;
}
div.last-seat-12:last-of-type {
    position: absolute;
    left: 90px;
    bottom: 23px;
}

div.last-seat-11:last-of-type {
    position: absolute;
    left: 95px;
    bottom: 23px;
}

.funkyradio{
    margin: 0px 0px -20px;
}
.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #25c431;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #439924;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}
@media only screen and (min-width: 2201px) and (max-width: 2560px) {
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 430px;
        bottom: 1px;
    }
}

@media only screen and (min-width: 1901px) and (max-width: 2200px) {
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 350px;
        bottom: 1px;
    }
}


@media only screen and (min-width: 1601px) and (max-width: 1900px) {
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 280px;
        bottom: 1px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 220px;
        bottom: 1px;
    }
    div.last-seat-21:last-of-type {
        position: absolute;
        left: 320px;
        bottom: 1px;
    }
}
@media only screen and (max-width: 1440px) {
    div.last-seat-21:last-of-type {
        position: absolute;
        left: 170px;
        bottom: 1px;
    }
}
@media only screen and (min-width: 1051px) and (max-width: 1200px) {
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 190px;
        bottom: 1px;
    }
    div.last-seat-21:last-of-type {
        position: absolute;
        left: 130px;
        bottom: 1px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1050px) {
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 146px;
        bottom: 1px;
    }
    div.last-seat-21:last-of-type {
        position: absolute;
        left: 103px;
        bottom: 1px;
    }
    div.last-seat-11:last-of-type {
        position: absolute;
        left: 70px;
        bottom: 20px;
    }
    div.last-seat-12:last-of-type {
        position: absolute;
        left: 59px;
        bottom: 20px;
    }
}
@media only screen and  (min-width: 768px) and (max-width: 991px){

    div.last-seat-32:last-of-type {
        position: absolute;
        left: 140px;
        bottom: 1px;
    }
    div.last-seat-21:last-of-type {
        position: absolute;
        left: 100px;
        bottom: 1px;
    }
    div.last-seat-11:last-of-type {
        position: absolute;
       bottom: 20px;
    }
}
@media only screen and (max-width: 767px) {
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 280px;
        bottom: 1px;
    }
    div.last-seat-11:last-of-type {
        position: absolute;
        left: 100px;
        bottom: 20px;
    }
    div.last-seat-12:last-of-type {
        position: absolute;
        left: 90px;
        bottom: 21px;
    }
}

@media only screen and (max-width: 599px) {
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 200px;
        bottom: 1px;
    }
    div.last-seat-11:last-of-type {
        position: absolute;
        left: 85px;
        bottom: 20px;
    }
    div.last-seat-12:last-of-type {
        position: absolute;
        left: 80px;
        bottom: 21px;
    }
}

@media only screen and (max-width: 480px) {
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 175px;
        bottom: 1px;
    }
    div.last-seat-21:last-of-type {
        position: absolute;
        left: 120px;
        bottom: 1px;
    }
    div.last-seat-11:last-of-type {
        position: absolute;
        left: 85px;
        bottom: 20px;
    }

}


@media only screen and (max-width: 425px) {
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 145px;
        bottom: 1px;
    }
    div.last-seat-21:last-of-type {
        position: absolute;
        left: 102px;
        bottom: 1px;
    }

}

@media only screen and (max-width: 414px){
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 140px;
        bottom: 1px;
    }
    div.last-seat-11:last-of-type {
        position: absolute;
        left: 80px;
        bottom: 20px;
    }
    div.last-seat-12:last-of-type {
        position: absolute;
        left: 70px;
        bottom: 21px;
    }
    div.last-seat-21:last-of-type {
        position: absolute;
        left: 100px;
        bottom: 1px;
    }
}


@media only screen and (max-width: 384px){
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 185px;
        bottom: 1px;
    }

    div.last-seat-21:last-of-type {
        position: absolute;
        left: 88px;
        bottom: 1px;
    }
    div.last-seat-11:last-of-type {
        position: absolute;
        left: 70px;
        bottom: 20px;
    }
    div.last-seat-12:last-of-type {
        position: absolute;
        left: 70px;
        bottom: 21px;
    }
}

@media only screen and (max-width: 375px){

    div.last-seat-12:last-of-type {
        position: absolute;
        left: 50px;
        bottom: 21px;
    }
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 120px;
        bottom: 1px;
    }
}



@media only screen and (max-width: 360px){
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 170px;
        bottom: 1px;
    }
    div.last-seat-11:last-of-type {
        position: absolute;
        left: 70px;
        bottom: 20px;
    }
    div.last-seat-12:last-of-type {
        position: absolute;
        left: 65px;
        bottom: 21px;
    }
    div.last-seat-21:last-of-type {
        position: absolute;
        left: 80px;
        bottom: 1px;
    }
}

 @media only screen and (max-width: 320px){
    div.last-seat-32:last-of-type {
        position: absolute;
        left: 150px;
        bottom: 1px;
    }
    div.last-seat-21:last-of-type {
        position: absolute;
        left: 75px;
        bottom: 1px;
    }
    div.last-seat-11:last-of-type {
        position: absolute;
        left: 60px;
        bottom: 20px;
    }
    div.last-seat-12:last-of-type {
        position: absolute;
        left: 43px;
        bottom: 21px;
    }
}
